In [27]:
import pandas as pd 
import numpy as np 

df = pd.read_csv("Data/student.csv")


df.head()

   Student_id  Age  Gender      Grade Employed
0           1   19    Male  1st Class      yes
1           2   20  Female  2nd Class       no
2           3   18    Male  1st Class       no
3           4   21  Female  2nd Class       no
4           5   19    Male  1st Class       no

In [28]:
df['Grade'].unique()

array(['1st Class', '2nd Class', '3rd Class'], dtype=object)

In [29]:
df['Grade'].value_counts()

2nd Class    80
3rd Class    80
1st Class    72
Name: Grade, dtype: int64

In [31]:
df.Gender.value_counts()

Male      136
Female     96
Name: Gender, dtype: int64

In [32]:
df.Employed.value_counts()

no     133
yes     99
Name: Employed, dtype: int64

In [39]:
df.Grade.replace({"1st Class":1, "2nd Class":2, "3rd Class":3}, inplace= True)
df.Gender.replace({"Male":0,"Female":1}, inplace= True)
df.Employed.replace({"yes":1,"no":0}, inplace = True)

df.head()

   Student_id  Age  Gender  Grade  Employed
0           1   19       0      1         1
1           2   20       1      2         0
2           3   18       0      1         0
3           4   21       1      2         0
4           5   19       0      1         0

In [47]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Load the dataset into a Pandas dataframe
dataset = 'https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/Banking_Marketing.csv'
df = pd.read_csv(dataset, header=0)

# Remove missing data
df = df.dropna()

# Select columns that are not numeric
data_column_category = df.select_dtypes(exclude=[np.number]).columns

# Perform label encoding
label_encoder = LabelEncoder()
for i in data_column_category:
    df[i] = label_encoder.fit_transform(df[i])

# Perform one-hot encoding
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded = onehot_encoder.fit_transform(df[data_column_category])

# Create a new dataframe with the encoded data and print the first five rows
onehot_encoded_frame = pd.DataFrame(onehot_encoded, columns=onehot_encoder.get_feature_names(data_column_category))
print(onehot_encoded_frame.head())

# Use pd.get_dummies to create one-hot encoding with prefixed column names
df_onehot_getdummies = pd.get_dummies(df, columns=data_column_category, prefix=data_column_category)
data_onehot_encoded_data = pd.concat([df_onehot_getdummies, df.select_dtypes(include=[np.number])], axis=1)
data_onehot_encoded_data

C:\Users\Janus\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

AttributeError: 'OneHotEncoder' object has no attribute 'get_feature_names'

In [46]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\janus\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\janus\anaconda3\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\janus\anaconda3\lib\site-packages (from scikit-learn) (1.23.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\janus\anaconda3\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\janus\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)